/Droid/obj/Debug/__library_projects__/FormsViewGroup.stamp
/Droid/obj/Debug/__library_projects__/FormsViewGroup/library_project_imports/formsviewgroup.jar
/Droid/obj/Debug/assets/Html/content/bootstrap/css/bootstrap-responsive.css
/Droid/obj/Debug/assets/Html/content/bootstrap/css/bootstrap-responsive.min.css
/Droid/obj/Debug/assets/Html/content/bootstrap/css/bootstrap.css
/Droid/obj/Debug/assets/Html/content/bootstrap/css/bootstrap.min.css
/Droid/obj/Debug/assets/Html/content/bootstrap/img/glyphicons-halflings-white.png
/Droid/obj/Debug/assets/Html/content/bootstrap/img/glyphicons-halflings.png
/Droid/obj/Debug/assets/Html/content/bootstrap/js/bootstrap.js
/Droid/obj/Debug/assets/Html/content/bootstrap/js/bootstrap.min.js
/Droid/obj/Debug/assets/Html/js/application.js
/Droid/obj/Debug/assets/Html/js/indexController.js
/Droid/obj/Debug/assets/Html/libs/angular.min.js
/Droid/obj/Debug/assets/Html/libs/jquery.min.js
/Droid/obj/Debug/assets/canvasjs.min.js
/Droid/obj/Debug/assets/home.html
/Droid/obj/Debug/assets/oplicense.html
/Droid/obj/Debug/res/assets/html/form.html
/Droid/obj/Debug/res/drawable-hdpi/icon.png
/Droid/obj/Debug/res/drawable-xhdpi/icon.png
/Droid/obj/Debug/res/drawable-xxhdpi/icon.png
/Droid/obj/Debug/res/drawable/icon.png
/MGForm/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MGForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MGForm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MGForm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MGForm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
